<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>I am Jeremy Winchester</title>
    <link type="text/css" href="/css/init.css" rel="stylesheet">
    <link type="text/css" href="/css/index.css" rel="stylesheet">
</head>
<body>
    <div class="firstContents">
        <div class="firstBG"></div>
        <div class="topTitle">
            <span>The Truth is...</span>
        </div>
        <div class="bottomTitle">
            <span>I Am<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Jeremy Winchester</span>
        </div>
        <div class="arcReactor">
            <div class="reactor-container">
                <div class="reactor-container-inner circle abs-center"></div>
                <div class="tunnel circle abs-center"></div>
                <div class="frame-outer circle abs-center"></div>
                <div class="core-outer circle abs-center"></div>
                <div class="frame-coil1 abs-center"></div>
                <div class="frame-coil2 abs-center"></div>
                <div class="frame-coil3 abs-center"></div>
                <div class="frame-inner circle abs-center"></div>
                <div class="inner-coil1 abs-center"></div>
                <div class="inner-coil2 abs-center"></div>
                <div class="inner-coil3 abs-center"></div>
                <div class="core-wrapper circle abs-center"></div>
                <div class="core-inner circle abs-center"></div>
            </div>
        </div>
        <div class="scouter circle delayShowANi"></div>
        <div class="scouter circle delayPulseAni"></div>
        <div class="innerScouter circle delayPingAni"></div>
        <div class="scouterInfoDegLine infoLineAni"></div>
        <div class="scouterInfoLine infoLineAni"></div>
        <div class="scouterText delayTextShowAni">http://박정욱.com</div>
    </div>
    <div class="secondContents">

    </div>
</body>
</html>